<!DOCTYPE html>
<html lang="en">
<!-- Favicon.io folder data -->
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/site.webmanifest">

<head>
    <script src="head.js?v=<%= new Date().getTime() %>"></script>
    <meta name="description" content="Play Dokkanle, a daily game where you guess Dokkan Battle cards based on their passive skills!">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJYHLYVWEW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QJYHLYVWEW');
</script>

<div class="background-container">
    <div class="scrolling-background" id="scrollingBackground"></div>
</div>

<nav class="top-nav" id="top-nav">
    <a href="" id="nav-home">Home</a>
    <a href="daily/" id="nav-daily">Daily</a>
    <a href="unlimited/" id="nav-unlimited">Unlimited</a>
    <a href="info/" id="nav-info">Info</a>
</nav>

<div id="landingPage">
    <h1 class="outlined-text">Dokkanle!</h1>
    <div class="description">
        Dokkanle is a Wordle-style daily guessing game inspired by Dokkan Battle cards. 
        Each day, players are challenged to guess a specific Dokkan Battle card based on parts of its passive skill, rarity, type, and leader skill. 
        More information about the card can be revealed, making it easier to narrow down the possibilities.
    </div>
    <div class="text-box-container">
        <div class="text-box">
            <h3>Daily Mode</h3>
            <p>Guess a new Dokkan Battle card each day. Everyone gets the same challenge!</p>
            <a href="daily/">
                <button class="big-button">Play</button>
            </a>
            
        </div>
        <div class="text-box">
            <h3>Unlimited Mode</h3>
            <p>Guess as many Dokkan Battle cards as you want. Test your knowledge endlessly!</p>
            <a href="unlimited/">
                <button class="big-button">Play</button>
            </a>
        </div>
    </div>
</div>
<script src="script.js?v=<%= new Date().getTime() %>"></script>
</html>
